.index,
.chaliapin-steak-don {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.index> ul {
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

#title {
    font-size: 40px;
    background-color: #C23B22;
    color: #FFD1A9;
}

.info > h2 {
    color: #826644;
}

.info {
    text-align: left;
}

